<p id="notice"><%= notice %></p>

<p>
  <strong>Hotel name:</strong>
  <%= @suggestions_box_hotel.hotel_name %>
</p>

<p>
  <strong>Pernight:</strong>
  <%= @suggestions_box_hotel.pernight %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @suggestions_box_hotel.decimal %>
</p>

<p>
  <strong>Country:</strong>
  <%= @suggestions_box_hotel.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @suggestions_box_hotel.city %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @suggestions_box_hotel.rating %>
</p>

<p>
  <strong>Image:</strong>
  <%= @suggestions_box_hotel.image %>
</p>

<p>
  <strong>Buffet:</strong>
  <%= @suggestions_box_hotel.buffet %>
</p>

<p>
  <strong>Hall:</strong>
  <%= @suggestions_box_hotel.hall %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @suggestions_box_hotel.gym %>
</p>

<%= link_to 'Edit', edit_suggestions_box_hotel_path(@suggestions_box_hotel) %> |
<%= link_to 'Back', suggestions_box_hotels_path %>
