  <div class="row" style="margin-top:20px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <center> <h1><b>Expensease budget planner</b></h1> 
          <br>
          
          <h4>Here's your generated budget based on your budget amount of <b><%= @budgetamount%></b></h4> 
          <p>Budget name: <b><%= @budgetname%></b></p> 
          <p>Savings type: <b><%= @savings_type%></b></p> 
          
          
        <hr>
  <% @mybudget.each do |key, value| %>
      <p><b><%= key %> : </b> <%= value %></p>
    <% end %>   

         </center>
        </div>
      
        <div class="col-md-2"></div>
        
    </div>