  <div class="row" style="margin-top:20px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <center>
              <h1><b>My monthly budget</b></h1>  </center><br>

     <% if @is_found  %>
         
    <div class="card">
  <div class="card-header">
    Overview
  </div>
  <div class="card-body">
    <h5 class="card-title">Budget name: <b><%= @budget_name%></b> | Savings type: <b><%= @savings_type%></b></h5>
    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
      <%= link_to "Print my budget", '#', class: "btn btn-success", onclick: 'javascript:print();return false;' %>
          <hr>
          
            <div > 
     
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><b>Home rent</b></div>
  <div class="card-body">
    <h5 class="card-title"><%= @home_rent %></h5>
    <!--<p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>-->
  </div>
</div>

<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header"><b>Utilities</b></div>
  <div class="card-body">
    <h5 class="card-title"><%= @utilities %></h5>
    <!--<p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>-->
  </div>
</div>

<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
  <div class="card-header"><b>Food and Groceries</b></div>
  <div class="card-body">
    <h5 class="card-title"><%= @food_groceries %></h5>
    <!--<p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>-->
  </div>
</div>

<div class="card text-white bg-warning  mb-3" style="max-width: 20rem;">
  <div class="card-header"><b>Departmental</b></div>
  <div class="card-body">
    <h5 class="card-title"><%= @departmental %></h5>
    <!--<p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>-->
  </div>
</div>

<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header"><b>Entertainment</b></div>
  <div class="card-body">
    <h5 class="card-title"><%= @entertainment %></h5>
    <!--<p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>-->
  </div>
</div>

<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header"><b>Car and auto</b></div>
  <div class="card-body">
    <h5 class="card-title"><%= @car_auto %></h5>
    <!--<p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>-->
  </div>
</div>

<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
  <div class="card-header"><b>Insurance and medical</b></div>
  <div class="card-body">
    <h5 class="card-title"><%= @insurance_medical %></h5>
    <!--<p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>-->
  </div>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><b>Miscellaneous</b></div>
  <div class="card-body">
    <h5 class="card-title"><%= @misc %></h5>
    <!--<p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>-->
  </div>
</div>



</div>
</div>
              <% else %>
              
              <div class="card">
  <h5 class="card-header h5">You haven't created any budget yet.</h5>
  <div class="card-body">
    <h6 class="card-title">Create one easily, with expensease budget generator</h6>
      <%= link_to "Create budget", budgetplanner_path, class: 'btn btn-success' %>
  </div>
</div>
              <% end %>
  
</div>
 
        
        </div>
      
        <div class="col-md-2"></div>
        
    </div>