<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<center style="margin-top:35px">
    <div class="row">
        <div class="col-md-4"> </div>
            <% if !@user.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @user, html: { multipart: true } do |f| %>
      <%= f.label :image %>
      <%= f.file_field :image %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
    </div>
</center>
</body>
</html>

  
  
  
  
  