<%= form_for([@user, @receipt]) do |form| %>
<% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :'Receipt date' %>
    <%= form.text_field :date, class: 'form-control', :value => @date %>
  </div>

  <div class="field form-group">
    <%= form.label :total %>
    <%= form.text_field :total, class: 'form-control', :value => @total %>
  </div>

  <div class="field form-group">
    <%= form.label :'Shop name' %>
    <%= form.text_field :shopName, class: 'form-control', :value => @shopName %>
  </div>

  <div class="field form-group">
    <%= form.label :'Shop Address' %>
    <%= form.text_field :shopAdress, class: 'form-control', :value => @shopAdress %>
  </div>
  
      <div class="field form-group">
    <%= form.label :'Upload Receipt' %>
    <%= form.file_field :image, :value => @image %>
  </div>
  
    <div class="actions form-group">
    <%= form.submit 'Create receipt', class: 'btn btn-success' %>
  </div>

 <small id="emailHelp" class="form-text text-muted">Expensease helps you save smarter</small>


<% end %>
