<!--<p id="notice"><%= notice %></p>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
  <a class="navbar-brand" href="#">Expensease</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
   
     <li class="nav-item">
       <!--<a class="nav-link" href="#">Budget planner</a> -->
       <a><%=link_to "Budget planner", budgetplanner_path, class: 'nav-link' %> </a>
      </li>
   
   
     <% if user_signed_in? %>
     <li class="nav-item">
      <a><%=link_to current_user.email, edit_user_registration_path, class: 'nav-link' %> </a>
      </li>
       <li class="nav-item">
     <a><%=link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %> </a>
     </li>
     <% else %>
       <li class="nav-item">
     <a><%=link_to "Login", new_user_session_path, class: 'nav-link' %> </a>
      </li>
       <li class="nav-item">
     <a> <%=link_to "Sign Up", new_user_registration_path, class: 'nav-link' %> </a>
      </li>
     <% end %>
   </li>
   
    </ul>
  </div>
</nav>

<center style="margin-top:35px">
    <div class="row" style="margin:15px">
        <div class="col-md-3">


<div class="panel panel-default">
  <div class="panel-body">
      <p>Your monthly budget : <b>$1000</b></p>       
      <p>Amount spent so far : <b>$453</b></p> 
      <p>Savings on budget so far : <b>$547</b></p> 
      <p>Savings on budget so far in percentage : <b>23%</b></p> 
      </div>
      
      
</div>
           
        </div>
        <div class="col-md-9">
<h1><b>Receipts</b></h1>
<br>

<table style="width:100%" class="table">
    <thead class="thead-dark">
  <tr>
    <th>Date</th>
    <th>Total</th>
    <th>Store name</th>
    <th>Store address</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <% for receipt in @receipts %>
      <tr>
        <td><%= receipt.date %></td>
        <td><%= receipt.total %></td>
        <td><%= receipt.shopName %></td>
        <td><%= receipt.shopAdress %></td>
        
        <td><%= link_to 'Show', user_receipt_path(@user, receipt) %> <%= link_to 'Edit', edit_user_receipt_path(@user, receipt) %> <%= link_to 'Destroy', user_receipts_path(@user, receipt), :confirm => 'Are you sure?', :method => :delete %></td> </td>
        <!--<td></td>-->
        <!--<td>/td>-->
      </tr>
    <% end %>
  </tbody> 
  
</table>

<br>

<%= link_to 'New Receipt', new_user_receipt_path(@user) %>
    
        </div>
        
    </div>
    

</center>




