<center style="margin-top:35px">
    <div class="row" style="margin:15px">
        <div class="col-md-3">


<div class="panel panel-default">
  <div class="panel-body">
      <p>Your monthly budget : <b><%= @budget_amount %></b></p>       
      <p>Amount spent so far : <b><%= @budget_spent %></b></p> 
      <p>Savings on budget so far : <b><%= @savings_on_budget %> (23%)</b></p> 
      </div>
      
      
</div>
           
        </div>
        <div class="col-md-9">
<h1><b>Receipts</b></h1>
<br>

<table style="width:100%" class="table">
    <thead class="thead-dark">
  <tr>
    <th>Date</th>
    <th>Total</th>
    <th>Store name</th>
    <th>Store address</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <% for receipt in @receipts %>
      <tr>
        <td><%= receipt.date %></td>
        <td><%= receipt.total %></td>
        <td><%= receipt.shopName %></td>
        <td><%= receipt.shopAdress %></td>
        
        <td><%= link_to 'Show', user_receipt_path(@user, receipt) %> <%= link_to 'Edit', edit_user_receipt_path(@user, receipt) %> <%= link_to 'Destroy', user_receipt_path(@user, receipt), :confirm => 'Are you sure?', :method => :delete %></td> </td>
        <!--<td></td>-->
        <!--<td>/td>-->
      </tr>
    <% end %>
  </tbody> 
  
</table>

<br>

<%= link_to 'New Receipt', new_user_receipt_path(@user) %>
    
        </div>
        
    </div>
    

</center>




