<p id="notice"><%= notice %></p>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
  <a class="navbar-brand" href="#">Expensease</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
       <a class="nav-link" href="#">Budget planner</a> 
      </li>
      
      <li class="nav-item">
        <% if user_signed_in? %>
        <a><%=link_to current_user.email, new_user_session_path, class: 'nav-link' %> </a>
        <a><%=link_to "Sign out", destroy_user_session_path, class: 'nav-link' %> </a>
        <% else %>
           <a><%=link_to "Login", new_user_session_path, class: 'nav-link' %> </a>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="#">Pricing</a>-->
         <a> <%=link_to "Sign Up", new_user_registration_path, class: 'nav-link' %> </a>
      </li>
        <% end %>
   
    </ul>
  </div>
</nav>

<br>
  <strong>Date:</strong>
  <%= @receipt.date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @receipt.total %>
</p>

<p>
  <strong>Store name:</strong>
  <%= @receipt.shopName %>
</p>

<p>
  <strong>Store address:</strong>
  <%= @receipt.shopAdress %>
</p>


<b>Product(s) details:</b>

<table style="width:40%">
  <tr>
    <th>Quantity</th>
    <th>Product</th> 
    <th>Category</th>
    <th>Unit Price </th>
    <th>Total</th>
  </tr>
  <% @receipt.products.each do |product| %>
    <tr>
      <td><%= product.quantity %></td>
      <td><%= product.productName %></td>
      <td><%= product.category %></td>
      <td><%= product.unitPrice %></td>
      <td><%= product.totalPrice %></td>
      <td><%= link_to 'Edit', edit_receipt_product_path(@receipt, product)%></td>
      <td><%= link_to 'X', receipt_upload_path(@receipt, product)%></td>
    </tr>
  <% end %>
 </div>
</table>

<%= link_to 'Add New Product', new_receipt_product_path(@receipt)%></td>
 <p>
    
  <div style="width: 200px; height: 200px">
   <b>Receipt:</b>

  <%= image_tag(@receipt.upload.image) if @receipt.upload != nil %>
 </p>



<%= link_to 'Add Upload', new_receipt_upload_path(@receipt) if @receipt.upload == nil%>

<%= link_to 'Destroy', receipt_upload_path(@receipt, @receipt.upload), :confirm => 'Are you sure?', :method => :delete if @receipt.upload != nil%>



<%= link_to 'Back', user_receipts_path(@user) %>
