
<br>
  <strong>Date:</strong>
  <%= @receipt.date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @receipt.total %>
</p>

<p>
  <strong>Store name:</strong>
  <%= @receipt.shopName %>
</p>

<p>
  <strong>Store address:</strong>
  <%= @receipt.shopAdress %>
</p>


<b>Product(s) details:</b>

<table style="width:40%">
  <tr>
    <th>Quantity</th>
    <th>Product</th> 
    <th>Category</th>
    <th>Unit Price </th>
    <th>Total</th>
  </tr>
  <% @receipt.products.each do |product| %>
    <tr>
      <td><%= product.quantity %></td>
      <td><%= product.productName %></td>
      <td><%= product.category %></td>
      <td><%= product.unitPrice %></td>
      <td><%= product.totalPrice %></td>
      <td><%= link_to 'Edit', edit_receipt_product_path(@receipt, product)%></td>
      <td><%= link_to 'X', receipt_upload_path(@receipt, product)%></td>
    </tr>
  <% end %>
 </div>
</table>

<%= link_to 'Add New Product', new_receipt_product_path(@receipt)%></td>
 <p>
    
  <div style="width: 200px; height: 200px">
   <b>Receipt:</b>

  <%= image_tag(@receipt.upload.image) if @receipt.upload != nil %>
 </p>



<%= link_to 'Add Upload', new_receipt_upload_path(@receipt) if @receipt.upload == nil%>

<%= link_to 'Destroy', receipt_upload_path(@receipt, @receipt.upload), :confirm => 'Are you sure?', :method => :delete if @receipt.upload != nil%>



<%= link_to 'Back', user_receipts_path(@user) %>
