 <!--<p class="notice"><%= notice %></p>-->
 <!--   <p class="alert"><%= alert %></p>-->

<!DOCTYPE html>
<html>
  <head>
    <title>Plann</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

   <a><%=link_to "Plann", root_path, class: 'navbar-brand' %> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
     
   
   <% if user_signed_in? %>
   
    <li class="nav-item active">
       <a><%=link_to "Create Trips", trips_path, class: 'nav-link' %> </a>
      </li>
   
      <li class="nav-item">
       <!--<a class="nav-link" href="#">Budget planner</a> -->
       <a><%=link_to "My Destination Trips", mytrips_path, class: 'nav-link' %> </a>
      </li>
      
      <li class="nav-item">
       <!--<a class="nav-link" href="#">Budget planner</a> -->
       <a><%=link_to "Trip suggestions", trip_suggestions_path, class: 'nav-link' %> </a>
      </li>

       <li class="nav-item">
       <!--<a class="nav-link" href="#">Budget planner</a> -->
       <a><%=link_to "Hotel suggestions", hotel_suggestions_path, class: 'nav-link' %> </a>
      </li>

      <li class="nav-item">
       <!--<a class="nav-link" href="#">Budget planner</a> -->
       <a><%=link_to "Add Hotel", new_suggestions_box_hotel_path, class: 'nav-link' %> </a>
      </li>

      <li class="nav-item">
       <!--<a class="nav-link" href="#">Budget planner</a> -->
       <a><%=link_to "Add Trip", new_suggestions_box_trip_path, class: 'nav-link' %> </a>
      </li>
      
        <li class="nav-item">
      <a><%=link_to current_user.email, edit_user_registration_path, class: 'nav-link' %> </a>
      </li>
       <li class="nav-item">
     <a><%=link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %> </a>
     </li>
     
     <% else %>
     
        <li class="nav-item">
     <a><%=link_to "Login", new_user_session_path, class: 'nav-link' %> </a>
      </li>
       <li class="nav-item">
     <a> <%=link_to "Sign Up", new_user_registration_path, class: 'nav-link' %> </a>
      </li>
      
   <% end %>
   </li>
   
    </ul>
  </div>
</nav>

<%= yield %>
</body>
</html>
